site_name: Vq Documentation
site_description: A Vector Quantization Library for Rust
repo_url: https://github.com/CogitatorTech/vq
repo_name: CogitatorTech/vq
site_url: https://cogitatortech.github.io/vq/

theme:
  name: material
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: deep purple
      accent: amber
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: deep purple
      accent: amber
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  font:
    text: Inter
    code: JetBrains Mono
  features:
    - content.code.copy
    - navigation.tabs
    - navigation.top
    - content.code.select
    - content.code.annotate
    - navigation.tracking

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/CogitatorTech/vq

plugins:
  - search

nav:
  - Home: index.md
  - Getting Started: getting-started.md
  - Examples: examples.md
  - API Reference: api-reference.md

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.details
  - pymdownx.arithmatex:
      generic: true
  - admonition
  - attr_list
  - toc:
      permalink: true

extra_javascript:
  - assets/js/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
